@page "/users"
@attribute [Authorize(Roles = "/users")]
@using Erp.Services
@using Erp.Services.TransferService
@using AppBO.Models
@using System.Security.Claims
@using AppBO.ModelsApi
@using AppBO.Utility
@using static AppBO.Utility.Utility
@attribute [Authorize]
@inject IMessageService message;
@inject UserTransferService tUser;
@inject RestService rest;
@inject ModalService ModalService

<PageTitle>Users</PageTitle>

<Divider Text="Users" Orientation="DividerOrientation.Left"></Divider>

<Table DataSource="@tUser.Users.Where(m=>m.IsDelete==false)"
       PageSize="10"
       AutoColIndexes="true"
       PaginationPosition="topLeft"
       Loading="loading"
       Size="TableSize.Small"
       AutoHeight>


    <PaginationTemplate>
        <Row Style="align-items: center">
            <Col Span="22">
            <Pagination Class="@(context.PaginationClass + " my-custom-pagination")"
                        Total="context.Total"
                        PageSize="context.PageSize"
                        Current="context.PageIndex"
                        ShowSizeChanger
                        OnChange="context.HandlePageChange" />
            </Col>
            <Col Span="2">
            <Flex Justify="FlexJustify.Center" Style="justify-content: center">
                <Button Type="ButtonType.Primary" OnClick="AddSetting">New</Button>
            </Flex>

            </Col>
        </Row>
    </PaginationTemplate>

    <EmptyTemplate>
        @if (loading == false)
        {
            <Empty Simple />
        }

    </EmptyTemplate>

    <ColumnDefinitions>
        <PropertyColumn Property="c=>c.FullName" Title="Name" Ellipsis Sortable Filterable>
            <Space Size=@("middle")>
                <SpaceItem>
                    <Icon Style="cursor: pointer; margin-right: 10px" Type="edit"
                          OnClick="() => Edit(context)"
                          Width="20" Height="20" Theme="IconThemeType.Fill" />
                </SpaceItem>
                <SpaceItem>
                    <Popconfirm Title="Are you sure you want to delete?"
                                OnConfirm="()=> Delete(context)"
                                OkText="Yes"
                                CancelText="No">
                        <Icon Style="cursor: pointer" Type="delete" Width="20" Height="20" Theme="IconThemeType.Fill" />
                    </Popconfirm>
                </SpaceItem>
                <SpaceItem>
                    <span style="margin-left: 10px">@context.FullName</span>
                </SpaceItem>
            </Space>

        </PropertyColumn>
        <PropertyColumn Property="c=>c.UserName" Title="User Name" Ellipsis Sortable Filterable />
        <PropertyColumn Property="c=>c.Email" Title="E-mail" Ellipsis Sortable Filterable />
        <PropertyColumn Property="c=>c.Phone" Title="Phone" Ellipsis Sortable Filterable />

        <PropertyColumn Property="c=>c.IsActive" Title="Active">
            <Space Size=@("middle")>
                <SpaceItem>
                    <span style="margin-left: 10px">@context.IsActive</span>
                </SpaceItem>
            </Space>
        </PropertyColumn>
    </ColumnDefinitions>
</Table>

@code {

    private string txtValue { get; set; }
    private bool loading { get; set; } = false;

    public ClaimsPrincipal User;

    [CascadingParameter]
    protected Task<AuthenticationState> AuthStat { get; set; }
    public string Token { get; set; }

    protected async override Task OnInitializedAsync()
    {
        loading = true;
        StateHasChanged();
        tUser.OnChange += StateHasChanged;

        User = (await AuthStat)?.User;
        Token = User.FindFirst("Token")?.Value;

        try
        {
            List<ApplicationUserModel> result = await rest.GET($"/api/auth/user-all", Token).ToModel<List<ApplicationUserModel>>();

            tUser.Users = result;
        }
        catch (Exception ex)
        {
            _ = message.Error(ex.Message);
        }

        loading = false;
    }

    public void AddSetting()
    {
        tUser.User = new ApplicationUserModel();
        _ = OpenMyDbEditor();
    }

    public void Edit(ApplicationUserModel row)
    {
        tUser.User = row;
        _ = OpenMyDbEditor();
    }

    async Task Delete(ApplicationUserModel row)
    {
        string key = $"updatable-{DateTime.Now.Ticks}";
        var config = new MessageConfig()
            {
                Content = "Deleting...",
                Key = key,
                Duration = 0
            };
        _ = message.Loading(config);

        ApplicationUserModel settingModel = Extention.MapObject<ApplicationUserModel>(row);
        settingModel.IsDelete = true;

        ApiResponse result = await rest.POST($"/api/auth/user-save", settingModel, Token);
        if (result.Status == true)
        {
            row.IsDelete = true;
            config.Content = "Done";
            _ = message.Success(config);
        }
        else
        {
            config.Content = result.Message;
            config.Duration = 2;
            _ = message.Error(config);
        }
    }

    private async Task OpenMyDbEditor()
    {
        var options = new ModalOptions()
            {
                Title = tUser.User.ApplicationUserId == 0 ? "Add new user" : "Update user",
                MaskClosable = false,
                OnOk = async (modalRef) =>
                {
                    // Perform your logic here, e.g., validate or process data
                    // Do not call modalRef.Close() if you want to keep it open
                    Console.WriteLine("OK pressed, but modal stays open!");
                    // Return false or avoid closing logic to keep the modal open
                },

            };

        var confirmRef = await ModalService.CreateModalAsync<UserEditorModal, ApplicationUserModel, string>(options, tUser.User);

    }
}
