@using System.Security.Claims
@using AppBO.ModelsInventory
@using AppBO.Utility
@using Erp.Services
@using Erp.Services.TransferService
@using static AppBO.Utility.Utility
@inject SizeTS tS;
@inject IMessageService message;
@inject RestService rest;
@inject ModalService modalService

<Table DataSource="@tS.Sizes.Where(m => m.IsDelete == false)"
       PageSize="10"
       AutoColIndexes="true"
       PaginationPosition="topLeft"
       Loading="loading"
       Size="TableSize.Small">


    <PaginationTemplate>
        <Row Style="align-items: center">
            <Col Span="22">
            <Pagination Class="@(context.PaginationClass + " my-custom-pagination")"
                        Total="context.Total"
                        PageSize="context.PageSize"
                        Current="context.PageIndex"
                        ShowSizeChanger
                        OnChange="context.HandlePageChange" />
            </Col>
            <Col Span="2">
            <Flex Justify="FlexJustify.Center" Style="justify-content: center">
                <Button Type="ButtonType.Primary" OnClick="AddNew">New</Button>
            </Flex>

            </Col>
        </Row>
    </PaginationTemplate>

    <EmptyTemplate>
        @if (loading == false)
        {
            <Empty Simple />
        }

    </EmptyTemplate>

    <ColumnDefinitions>
        <PropertyColumn Property="c => c.SizeName" Title="Name" Ellipsis Sortable Filterable>
            <Space Size=@("middle")>
                <SpaceItem>
                    <Icon Style="cursor: pointer; margin-right: 10px" Type="edit"
                          OnClick="() => Edit(context)"
                          Width="20" Height="20" Theme="IconThemeType.Fill" />
                </SpaceItem>
                <SpaceItem>
                    <Popconfirm Title="Are you sure you want to delete?"
                                OnConfirm="()=> Delete(context)"
                                OkText="Yes"
                                CancelText="No">
                        <Icon Style="cursor: pointer" Type="delete" Width="20" Height="20" Theme="IconThemeType.Fill" />
                    </Popconfirm>
                </SpaceItem>
                <SpaceItem>
                    <span style="margin-left: 10px">@context.SizeName</span>
                </SpaceItem>
            </Space>
        </PropertyColumn>

        <PropertyColumn Property="c => c.IsActive" Title="Active">
            <Space Size=@("middle")>
                <SpaceItem>
                    <span style="margin-left: 10px">@context.IsActive</span>
                </SpaceItem>
            </Space>
        </PropertyColumn>
    </ColumnDefinitions>
</Table>

@code {
    private bool loading { get; set; } = false;
    [CascadingParameter]
    protected Task<AuthenticationState> AuthStat { get; set; }
    public string Token { get; set; }
    public ClaimsPrincipal User;

    protected async override Task OnInitializedAsync()
    {
        loading = true;
        StateHasChanged();
        tS.OnChange += StateHasChanged;

        User = (await AuthStat)?.User;
        Token = User.FindFirst("Token")?.Value ?? "";

        loading = false;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            try
            {
                if (tS.Sizes.Count == 0)
                {
                    List<SizeModel> result = await rest.GET($"/api/inventory/size-all", Token).ToModel<List<SizeModel>>();
                    tS.Sizes = result;
                    StateHasChanged();
                }

            }
            catch (Exception ex)
            {
                _ = message.Error(ex.Message);
            }
        }
    }

    public void AddNew()
    {
        tS.Size = new SizeModel();
        OpenMyDbEditor();
    }

    public void Edit(SizeModel row)
    {
        tS.Size = row;
        OpenMyDbEditor();
    }

    async Task Delete(SizeModel row)
    {
        string key = $"updatable-{DateTime.Now.Ticks}";
        var config = new MessageConfig()
        {
            Content = "Deleting...",
            Key = key,
            Duration = 0
        };
        _ = message.Loading(config);

        SizeModel delete = Extention.MapObject<SizeModel>(row);
        delete.IsDelete = true;

        ApiResponse result = await rest.POST($"/api/inventory/size-save", delete, Token);
        config.Duration = 1;
        if (result.Status == true)
        {
            row.IsDelete = true;
            config.Content = "Done";
            _ = message.Success(config);
        }
        else
        {
            config.Content = result.Message;
            _ = message.Error(config);
        }
    }


    private void OpenMyDbEditor()
    {
        var options = new ModalOptions()
        {
            Title = tS.Size.SizeId == 0 ? "Add new menu" : "Update menu",
            MaskClosable = false,
            OnOk = async (modalRef) =>
            {
                // Perform your logic here, e.g., validate or process data
                // Do not call modalRef.Close() if you want to keep it open
                Console.WriteLine("OK pressed, but modal stays open!");
                // Return false or avoid closing logic to keep the modal open
            },

        };

        modalService.CreateModal<SizeEditorModal, SizeModel, string>(options, tS.Size);
    }
}
